@model IEnumerable<TechCareerBookMvc.Models.Kitap>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="KitapEkle">Yeni Kitap Oluştur</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KitapAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fiyati)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SayfaSayisi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KitapAdi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fiyati)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SayfaSayisi)
                </td>
                <td>
                    @Html.ActionLink("Düzenle", "EditKitap", new { id = item.Id }) |
                    @Html.ActionLink("Detay", "GetKitap", new { id = item.Id }) |
                    @Html.ActionLink(
                             "Sil",
                             "DeleteKitap",
                             new { id = item.Id },
                             new { onclick = "return confirm('Silmek istediğinizden emin misiniz?');" })
                </td>
            </tr>
        }
    </tbody>
</table>
